body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
.home-landing-container {
    padding: 100px !important;
    background-image: url(../img/istockphoto-1024577404-612x612.webp) !important;
    .app-download-buttons {
        width: 254px;
    }
}
.card {
    margin: 80px !important;
    // margin-left: 42% !important;
}
.quote-card {
    margin: 5% !important;
}
.table {
    margin: 3% !important;
}
.section-2 {
    margin: 10%;
}
@mixin button {
    background-color: $primary-color !important;
    color: black !important;
}
.input-group {
    padding: 5px !important;
}
.partner-form {
    margin: 20px;
}
.contact-forms {
    justify-content: center !important;
}
@mixin forms {
    margin: 10% !important;
}